<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oik.dao.mapper.DictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.oik.dao.entity.Dict">
        <id column="DICT_ID" property="dictId"/>
        <result column="KEYY" property="keyy"/>
        <result column="VALUEE" property="valuee"/>
        <result column="FIELD_NAME" property="fieldName"/>
        <result column="TABLE_NAME" property="tableName"/>
        <result column="FATHER_ID" property="fatherId"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="CREATE_USER_ID" property="createUserId"/>
        <result column="CREATE_USERNAME" property="createUsername"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="UPDATE_USER_ID" property="updateUserId"/>
        <result column="UPDATE_USERNAME" property="updateUsername"/>
        <result column="STATUS" property="status"/>
        <result column="OTHER_KEYY" property="otherKeyy"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DICT_ID
        , KEYY, VALUEE, FIELD_NAME, `TABLE_NAME`, FATHER_ID, CREATE_TIME, CREATE_USER_ID, CREATE_USERNAME, UPDATE_TIME, UPDATE_USER_ID, UPDATE_USERNAME, `STATUS`, OTHER_KEYY
    </sql>

</mapper>
