<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oik.dao.mapper.GreetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.oik.dao.entity.Greet">
        <id column="id" property="id"/>
        <result column="greet" property="greet"/>
        <result column="creat_by" property="creatBy"/>
        <result column="creat_time" property="creatTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , greet, creat_by, creat_time, update_by, update_time
    </sql>

</mapper>
