<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oik.dao.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.oik.dao.entity.Role">
        <id column="ROLE_ID" property="roleId"/>
        <result column="ROLE_NAME" property="roleName"/>
        <result column="REMARK" property="remark"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="MODIFY_TIME" property="modifyTime"/>
        <result column="STATUS" property="status"/>
        <result column="CREATE_USERNAME" property="createUsername"/>
        <result column="CREATE_USER_ID" property="createUserId"/>
        <result column="MODIFY_USERNAME" property="modifyUsername"/>
        <result column="MODIFY_USER_ID" property="modifyUserId"/>
        <result column="DATA_SCOPE" property="dataScope"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ROLE_ID
        , ROLE_NAME, REMARK, CREATE_TIME, MODIFY_TIME, `STATUS`, CREATE_USERNAME, CREATE_USER_ID, MODIFY_USERNAME, MODIFY_USER_ID, DATA_SCOPE
    </sql>

</mapper>
