<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oik.dao.mapper.TestMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.oik.dao.entity.Test">
        <id column="ID" property="id"/>
        <result column="FIELD1" property="field1"/>
        <result column="FIELD2" property="field2"/>
        <result column="FIELD3" property="field3"/>
        <result column="CREATE_TIME" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID
        , FIELD1, FIELD2, FIELD3, CREATE_TIME
    </sql>

</mapper>
